{% extends "_base.html" %}
{% block content %}
<div class="container">
  <div id="header-wrapper">
    <div id="play-bar">
      <div id="tiny-player">
        <i class="fi-previous" id="rewind"></i>
        <i class="fi-play" id="play"></i>
        <i class="fi-pause" id="pause"></i>
        <i class="fi-next" id="ff"></i>
        <p id="song-title"></p>
      </div>
      {% include "_nav.html" %}
    </div>
    <header>
        <img class="logo" alt="Anu Alphonse, singer-songwriter in Chicago, IL" src="img/nameplate-dark-blue.png">

        <div class="sidebar small-12 medium-5 columns">
        <h4>See a show</h4>
        <div id="events-list"></div>
        {#{% for row in shows %}
          <div class="show">
            <p class="date"><i class="fi-star"></i>{{ row.date }}{% if row.time %}<span class="time"> ({{ row.time }} p.m.)</span>{% endif %}</p>
            <p class="location"><span class="venue">{{ row.venue }},</span> <span class="city">{{ row.city }}</span></p>
            <p class="other-artists">{{ row.artists }}</p>
            <p class="ticket"><a href="{{ row.ticket_link }}">Tickets</a></p>
          </div>
        {% endfor %}#}
        <script type='text/javascript' src='http://www.bandsintown.com/javascripts/bit_widget.js'></script>
<a href='http://www.bandsintown.com' class='bit-widget-initializer' data-artist='AnuAlphonse' data-notify-me="false" data-bg-color="#2a3238" data-separator-color="#2a3238" data-text-color="#999999" data-div-id="events-list">Bandsintown</a>
          <a href="http://bandsintown.com/AnuAlphonse">View past events »</a>
        </div>

      </header>
  </div>
  <section class="row">
    <div class="small-12 medium-8 columns">
      <p>{{ about }}</p>
      <p>{{ about2 }}</p>
    </div>
    <div class="small-12 medium-4 columns">
      <h4>Get the album</h4>
      <img src="img/still-life-cover.jpg">
      <div class="downloads">
        <a href="https://itunes.apple.com/us/album/back-to-you/id642599382?i=642599639&ign-mpt=uo%3D4"><i class="fi-download"></i> iTunes</a>  <a href="http://www.amazon.com/Still-Life-Anu-Alphonse/dp/B00HDZPAPA/ref=sr_1_4?ie=UTF8&qid=1432502270&sr=8-4&keywords=anu+alphonse"><i class="fi-download"></i> Amazon</a>
      </div>
    </div>
  </section>
  <section id="photo-strip-container" class="row">
    <!--<h4>Photo album</h4>-->
    <!-- underscore target -->
    <div id="photo-strip" class="small-8 offset-2 columns"></div>
  </section>
  <footer>
    <p>© Copyright 2016 Anu Alphonse</p>
  </footer>
</div>
  <script type="text/template" id="events">
    <div class="show">
      <p class="date"><i class="fi-star"></i><%= data.datetime %></span></p>
      <p class="location"><span class="venue"><%= data.venue.name %>,</span> <span class="city"><%= data.venue.city %></span></p>
      <p class="ticket"><a href="<%= data.ticket_url %>">Tickets</a></p>
    </div>
  </script>
  <script type="text/template" id="photos">
    <div class="photo">
      <img src="<%= data.images.standard_resolution.url %>" />
      <div class="meta">
        <p><%= data.created_time %></p>
        <% if (data.likes.count != 0) { %>
          <p class="likes"><%= data.likes.count %> <i class="fi-heart"></i></p>
        <% } %>
        <% if (data.comments.count != 0) { %>
          <p class="comments"><%= data.comments.count %> <i class="fi-comment"></i></p>
        <% } %>
      </div>
      <p><%= data.caption.text %></p>
      <p><a href="<%= data.link %>">See more on Instagram »</a></p>
    </div>
  </script>

{% endblock content %}

